body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blue;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.producto{
    border: 5px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 35%;
    height: 200px;
    background-color: white;
}

h4{
    margin: 20px;
}

.producto img{
    margin: 40px;
}